.HeroBlock {
    position: relative;

    .v-window {
        @media only screen and (max-width:599px){
            height: 220px !important;
        }
    }
    .v-image__image{
        &:before{
            content: '';
            background: rgpa(0,0,0,0.3);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }
    .title{
        color: #ffffff;
        position: relative;
        z-index: 5;
        font : 300 50px/1.6 $primary-font !important;
    }

}


